<div class="">
  <div class="grid grid-cols-1">
    <div class="gap-2 col-span-1 grid">
      <div class="dark:bg-darker rounded-md bg-white p-4 flex justify-between overflow-x-auto">
        <div class="dark:bg-darker rounded-md bg-white w-full">
          <div class="">
            <div class="overflow-x-auto">
              <div class="mt-2 relative">
                <a
                  (click)="copy()"
                  class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark m-2 rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:ring-offset-white cursor-pointer focus:ring focus:ring-offset-1 focus:outline-none"
                >
                  {{ 'common.copy' | translate }}
                </a>
                <pre
                  class="mb-3"
                ><code class="" [highlight]="cluster | json" language="json" (highlighted)="onHighlight($event)" lineNumbers></code></pre>
                <a
                  (click)="copy()"
                  class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark m-2 rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:ring-offset-white cursor-pointer focus:ring focus:ring-offset-1 focus:outline-none"
                >
                  {{ 'common.copy' | translate }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
