<div class="grid gap-8">
  <div class="dark:bg-darker flex items-center justify-between overflow-y-auto rounded-md bg-white p-4">
    <div class="dark:bg-darker overflow-y-auto rounded-md bg-white">
      <div class="dark:border-primary flex items-center justify-between border-b p-4">
        <h4 class="dark:text-light text-lg font-semibold text-gray-500">{{ 'pages.clusters.details.tools.title' | translate }}</h4>
      </div>
      <div class="relative p-3">
        <table class="w-full border-collapse text-left">
          <tbody>
            <tr class="hover:bg-grey-light truncate">
              <td class="px-2 py-1">{{ 'pages.clusters.details.tools.argo' | translate }}</td>
              @if (argoIngress) {
                <td class="truncate px-2 py-1">
                  @if (argoIngress?.ingressrules !== null && argoIngress?.ingressrules?.length > 0) {
                    <a href="https://{{ argoIngress?.ingressrules[0].hostname }}" target="_blank" class="overflow-hidden text-clip underline"
                      ><span class="w-14 truncate overflow-hidden text-clip text-blue-800 underline dark:text-blue-500">{{
                        argoIngress?.ingressrules[0].hostname
                      }}</span></a
                    >
                  }
                </td>
              }
              @if (!argoIngress || !argoIngress?.ingressrules || argoIngress?.ingressrules?.length === 0) {
                <td class="px-2 py-1">
                  {{ 'pages.clusters.details.tools.argoMissing' | translate }}
                </td>
              }
            </tr>
            <tr class="hover:bg-grey-light truncate">
              <td class="px-2 py-1">{{ 'pages.clusters.details.tools.grafana' | translate }}</td>
              @if (grafanaIngress) {
                <td class="truncate px-2 py-1">
                  @if (grafanaIngress?.ingressrules !== null && grafanaIngress?.ingressrules?.length > 0) {
                    <a href="https://{{ grafanaIngress?.ingressrules[0].hostname }}" target="_blank" class="overflow-hidden text-clip underline"
                      ><span class="w-14 truncate overflow-hidden text-clip text-blue-800 underline dark:text-blue-500">{{
                        grafanaIngress?.ingressrules[0].hostname
                      }}</span></a
                    >
                  }
                </td>
              }
              @if (!grafanaIngress || !grafanaIngress?.ingressrules || grafanaIngress?.ingressrules?.length === 0) {
                <td class="px-2 py-1">
                  {{ 'pages.clusters.details.tools.grafanaMissing' | translate }}
                </td>
              }
            </tr>
            <tr class="hover:bg-grey-lighttruncate">
              <td class="px-2 py-1">{{ 'pages.clusters.details.tools.rorlogin' | translate }}</td>
              <td class="truncate px-2 py-1">
                <a
                  (click)="copyRorLogin()"
                  class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark cursor-pointer rounded-md bg-green-700 px-4 py-1 text-sm
                    text-white focus:ring focus:ring-offset-1 focus:ring-offset-white focus:outline-none"
                >
                  {{ 'common.copy' | translate }}
                </a>
              </td>
            </tr>
            <tr class="hover:bg-grey-light truncate">
              <td class="px-2 py-1">{{ 'pages.clusters.details.tools.kubectlLogin' | translate }}</td>
              <td class="truncate px-2 py-1">
                <a
                  (click)="copyLogin()"
                  class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark cursor-pointer rounded-md bg-green-700 px-4 py-1 text-sm
                    text-white focus:ring focus:ring-offset-1 focus:ring-offset-white focus:outline-none"
                >
                  {{ 'common.copy' | translate }}
                </a>
              </td>
            </tr>
            @if (showLogin) {
              <tr>
                <td colspan="2" class="px-2 py-1">
                  <div class="bg-black text-white">
                    kubectl vsphere login --server={{ serverUrl }} -u {{ userClaims?.email }} --insecure-skip-tls-verify
                    --tanzu-kubernetes-cluster-namespace {{ cluster?.workspace?.name }} --tanzu-kubernetes-cluster-name {{ cluster?.clusterName }}
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
