<table class="border-collapse text-left">
  <tbody>
    <tr class="hover:bg-grey-light">
      <td class="px-2 py-1">{{ 'pages.configuration.tasks.table.columns.name' | translate }}</td>
      <td class="px-2 py-1">
        {{ task?.name }}
      </td>
    </tr>
    <tr class="hover:bg-grey-light">
      <td class="px-2 py-1">{{ 'pages.configuration.tasks.table.columns.imageName' | translate }}</td>
      <td class="px-2 py-1">
        {{ task?.config?.imageName }}
      </td>
    </tr>
    <tr class="hover:bg-grey-light">
      <td class="px-2 py-1">{{ 'pages.configuration.tasks.table.columns.version' | translate }}</td>
      <td class="px-2 py-1">
        {{ task?.config?.version }}
      </td>
    </tr>
    <tr class="hover:bg-grey-light">
      <td class="px-2 py-1">{{ 'pages.configuration.tasks.table.columns.cmd' | translate }}</td>
      <td class="px-2 py-1">
        <code class="bg-black p-1 text-white">{{ task?.config?.cmd }}</code>
      </td>
    </tr>

    <tr class="hover:bg-grey-light">
      <td class="px-2 py-1">{{ 'pages.configuration.tasks.table.columns.backofflimit' | translate }}</td>
      <td class="px-2 py-1">
        {{ task?.config?.backoffLimit }}
      </td>
    </tr>
    <tr class="hover:bg-grey-light">
      <td class="px-2 py-1">{{ 'pages.configuration.tasks.table.columns.timeoutInSeconds' | translate }}</td>
      <td class="px-2 py-1">
        {{ task?.config?.timeoutInSeconds }}
      </td>
    </tr>
    @if (task?.config?.secret) {
      <tr class="hover:bg-grey-light">
        <td class="px-2 py-1 align-top">{{ 'pages.configuration.tasks.table.columns.secret.filepath' | translate }}</td>
        <td class="px-2 py-1">
          <span>{{ task?.config?.secret?.path }}{{ task?.config?.secret?.filename }}</span>
        </td>
      </tr>
    }
    @if (task?.config?.secret?.gitSource) {
      <tr class="hover:bg-grey-light">
        <td class="px-2 py-1 align-top">{{ 'pages.configuration.tasks.table.columns.secret.source.title' | translate }}</td>
        <td class="px-2 py-1">
          {{ 'pages.configuration.tasks.table.columns.secret.source.git' | translate }}
        </td>
      </tr>
    }
    @if (task?.config?.secret?.gitSource?.gitConfig) {
      <tr class="hover:bg-grey-light">
        <td class="px-2 py-1 align-top">{{ 'pages.configuration.tasks.table.columns.secret.source.url' | translate }}</td>
        <td class="px-2 py-1">
          <a
            href="{{ task?.config?.secret?.gitSource?.gitConfig?.repository }}"
            target="_blank"
            class="hover:text-blue-800 dark:hover:text-blue-400 cursor-pointer hover:underline"
            >{{ task?.config?.secret?.gitSource?.gitConfig?.repository }}</a
          >
        </td>
      </tr>
    }
    @if (task?.config?.secret?.gitSource?.gitConfig?.branch) {
      <tr class="hover:bg-grey-light">
        <td class="px-2 py-1 align-top">{{ 'pages.configuration.tasks.table.columns.secret.source.url' | translate }}</td>
        <td class="px-2 py-1">
          <span>{{ task?.config?.secret?.gitSource?.gitConfig?.branch }}</span>
        </td>
      </tr>
    }
    @if (task?.config?.secret?.gitSource?.contentPath) {
      <tr class="hover:bg-grey-light">
        <td class="px-2 py-1 align-top">{{ 'pages.configuration.tasks.table.columns.secret.source.contentPath' | translate }}</td>
        <td class="px-2 py-1">
          <span>{{ task?.config?.secret?.gitSource?.contentPath }}</span>
        </td>
      </tr>
    }
    @if (task?.config?.secret?.vaultSource) {
      <tr class="hover:bg-grey-light">
        <td class="px-2 py-1 align-top">{{ 'pages.configuration.tasks.table.columns.secret.source.title' | translate }}</td>
        <td class="px-2 py-1">
          {{ 'pages.configuration.tasks.table.columns.secret.source.vault' | translate }}
        </td>
      </tr>
    }
    @if (task?.config?.envVars?.length > 0) {
      <tr class="hover:bg-grey-light">
        <td class="px-2 py-1 align-top">{{ 'pages.configuration.tasks.table.columns.envVars.title' | translate }}</td>
        <td class="px-2 py-1">
          <table class="table-auto">
            <thead>
              <tr>
                <th>{{ 'pages.configuration.tasks.table.columns.envVars.key' | translate }}</th>
                <th>{{ 'pages.configuration.tasks.table.columns.envVars.value' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              @for (envVar of task?.config?.envVars; track envVar) {
                <tr>
                  <td>{{ envVar?.key }}</td>
                  <td class="font-bold">{{ envVar?.value }}</td>
                </tr>
              }
            </tbody>
          </table>
        </td>
      </tr>
    }
    @if (task?.config?.envVars?.length > 0) {
      <tr class="hover:bg-grey-light">
        <td class="px-2 py-1 align-top">{{ 'pages.configuration.tasks.table.columns.scripts' | translate }}</td>
        <td class="px-2 py-1">
          @for (script of task?.config?.scripts?.fileNameAndData; track script) {
            <div>
              <h1 class="mb-1 text-lg text-gray-800 dark:text-white flex-grow">{{ script?.filename }}:</h1>
              <pre class="mb-3"><code [highlight]="script?.data" language="bash" (highlighted)="onHighlight($event)" lineNumbers></code></pre>
            </div>
          }
        </td>
      </tr>
    }
  </tbody>
</table>
