<div class="mt-5 grid">
  <div class="dark:bg-darker flex items-center justify-between overflow-x-auto rounded-md bg-white p-2">
    <div class="dark:bg-darker col-span-2 w-full overflow-x-auto rounded-md bg-white">
      <div class="dark:border-primary flex items-end justify-between border-b p-4">
        <h4 class="dark:text-light text-lg font-semibold text-gray-500">{{ 'common.description' | translate }}</h4>
        <div class="">
          <a
            [routerLink]="['./']"
            [queryParams]="{ tab: 'metadata' }"
            (click)="editRequested()"
            class="dark:text-primary text-primary cursor-pointer"
            >{{ 'common.edit' | translate }}</a
          >
        </div>
      </div>

      <div class="overflow-x-auto">
        <div class="relative m-3">
          @if (cluster?.metadata?.description) {
            <div class="whitespace-pre-line">{{ cluster?.metadata?.description }}</div>
          } @else {
            <div class="text-gray-500">{{ 'common.noValue' | translate }}</div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
