<div class="grid grid-cols-3 gap-4">
  <app-virtualmachine-cpu></app-virtualmachine-cpu>
  <app-virtualmachine-memory></app-virtualmachine-memory>
  <app-virtualmachine-price></app-virtualmachine-price>
</div>
<div class="grid space-y-8 mt-4 lg:gap-8 lg:space-y-0">
  <div class="dark:bg-darker flex items-center justify-between overflow-x-auto rounded-md bg-white p-4">
    <div class="dark:bg-darker col-span-2 overflow-x-auto rounded-md bg-white w-full">
      <div class="dark:border-primary flex items-center justify-between border-b p-4">
        <h4 class="dark:text-light text-lg font-semibold text-gray-500">{{ 'pages.virtualmachines.details.metrics.title' | translate }}</h4>
      </div>
      <div class="overflow-x-auto">
        <div class="relative mb-3">
          <div class="w-full">
            <p-chart type="bar" class="w-full" [data]="data" [options]="options" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
