<div class="dark:border-primary-darker flex items-center justify-between border-b px-4 py-4 lg:py-6">
  <h1 class="text-2xl font-semibold">{{ 'pages.profile.title' | translate }}</h1>
</div>

<p-tabs [value]="tabIndex" scrollable #tabs (valueChange)="switchTab()">
  <p-tablist class>
    <p-tab [value]="0" [ngClass]="{ 'bg-green-500 text-white dark:bg-green-700 dark:text-white': tabIndex === 0 }">
      <div class="flex">
        <i-lucide [img]="userIcon"></i-lucide>
        <span class="ml-2">{{ 'pages.profile.details.title' | translate }}</span>
      </div>
    </p-tab>
    <p-tab [value]="1" [ngClass]="{ 'bg-green-500 text-white dark:bg-green-700 dark:text-white': tabIndex === 1 }">
      <div class="flex">
        <i-lucide [img]="keyIcon"></i-lucide>
        <span class="ml-2">{{ 'pages.profile.apikeys.title' | translate }}</span>
      </div>
    </p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel [value]="0">
      <app-userprofile-details [claims]="claims" [exp]="expDate" [iat]="iatDate" [accessToken]="accessToken"></app-userprofile-details>
    </p-tabpanel>
    <p-tabpanel [value]="1">
      <app-userprofile-apikeys [upn]="claims?.email"></app-userprofile-apikeys>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
