<div class="dark:border-primary-darker flex items-center gap-4 border-b px-4 py-4 lg:py-6">
  <h1 class="flex-grow text-2xl font-semibold">{{ 'pages.virtualmachines.details.title' | translate }}</h1>
  <div
    class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark relative rounded-md bg-green-700 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
  ></div>

  <button
    class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
  >
    {{ 'common.refresh' | translate }}
  </button>
</div>

<p-tabView styleClass="tabview" [(activeIndex)]="selectedTabIndex" (activeIndexChange)="switchTab($event)" [scrollable]="true">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <div class="flex text-nowrap">
        <i class="pi pi-server mt-1"></i>
        <span class="ml-2">{{ 'pages.virtualmachines.details.title' | translate }}</span>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="">
        <div class="dark:bg-darker flex flex-col rounded-md bg-white">
          <div class="p-3 flex flex-col">
            virtual machine content
            <app-virtualmachines-raw [resource]="resource$ | async"></app-virtualmachines-raw>
          </div>
        </div>
      </div>
    </ng-template>
  </p-tabPanel>

  <p-tabPanel header="{{ 'pages.virtualmachines.details.components.title' | translate }}">
    <ng-template pTemplate="header">
      <div class="flex text-nowrap">
        <i class="pi pi-objects-column mt-1"></i>
        <span class="ml-2">{{ 'pages.virtualmachines.details.components.title' | translate }}</span>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="">
        <div class="dark:bg-darker flex flex-col rounded-md bg-white">
          <div class="p-3 flex flex-col">Components</div>
        </div>
      </div>
    </ng-template>
  </p-tabPanel>

  <p-tabPanel header="{{ 'pages.virtualmachines.details.network.title' | translate }}">
    <ng-template pTemplate="header">
      <div class="flex text-nowrap">
        <i class="pi pi-wifi mt-1"></i>
        <span class="ml-2">{{ 'pages.virtualmachines.details.network.title' | translate }}</span>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="">
        <div class="dark:bg-darker flex flex-col rounded-md bg-white">
          <div class="p-3 flex flex-col">Network</div>
        </div>
      </div>
    </ng-template>
  </p-tabPanel>

  <p-tabPanel header="{{ 'pages.virtualmachines.details.metadata.title' | translate }}">
    <ng-template pTemplate="header">
      <div class="flex text-nowrap">
        <i class="pi pi-file mt-1"></i>
        <span class="ml-2">{{ 'pages.virtualmachines.details.metadata.title' | translate }}</span>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="">
        <div class="dark:bg-darker flex flex-col rounded-md bg-white">
          <div class="p-3 flex flex-col">Metadata</div>
        </div>
      </div>
    </ng-template>
  </p-tabPanel>

  <p-tabPanel header="{{ 'pages.virtualmachines.details.logs.title' | translate }}">
    <ng-template pTemplate="header">
      <div class="flex text-nowrap">
        <i class="pi pi-list mt-1"></i>
        <span class="ml-2">{{ 'pages.virtualmachines.details.logs.title' | translate }}</span>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="">
        <div class="dark:bg-darker flex flex-col rounded-md bg-white">
          <div class="p-3 flex flex-col">Logs</div>
        </div>
      </div>
    </ng-template>
  </p-tabPanel>

  <p-tabPanel header="{{ 'pages.virtualmachines.details.resources.title' | translate }}">
    <ng-template pTemplate="header">
      <div class="flex text-nowrap">
        <i class="pi pi-server mt-1"></i>
        <span class="ml-2">{{ 'pages.virtualmachines.details.resources.title' | translate }}</span>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="">
        <div class="dark:bg-darker flex flex-col rounded-md bg-white">
          <div class="p-3 flex flex-col">Resources</div>
        </div>
      </div>
    </ng-template>
  </p-tabPanel>

  <p-tabPanel header="{{ 'pages.virtualmachines.details.raw.title' | translate }}">
    <ng-template pTemplate="header">
      <div class="flex text-nowrap">
        <i class="pi pi-file mt-1"></i>
        <span class="ml-2">{{ 'pages.virtualmachines.details.raw.title' | translate }}</span>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="">
        <div class="dark:bg-darker flex flex-col rounded-md bg-white">
          <div class="p-3 flex flex-col">
            <app-virtualmachines-raw [resource]="resource$ | async"></app-virtualmachines-raw>
          </div>
        </div>
      </div>
    </ng-template>
  </p-tabPanel>
</p-tabView>
