<div class="dark:border-primary-darker gap-4 px-4 py-4 lg:py-6 flex items-center border-b">
  <h1 class="text-2xl font-semibold flex-grow">
    @if (!acl) {
      <span>{{ 'pages.acl.create.title' | translate }}</span>
    }
    @if (acl) {
      <span>{{ 'pages.acl.update.title' | translate }}</span>
    }
  </h1>
</div>

<div class="m-4">
  <div class="dark:bg-darker rounded-md bg-white p-2 items-center justify-between">
    <div class="dark:bg-darker rounded-md bg-white">
      <div class="dark:border-primary p-4 flex items-center justify-between border-b">
        <span class="flex-grow"></span>
      </div>
      <div class="p-3 relative">
        <app-acl-create-update [acl]="acl"></app-acl-create-update>
      </div>
    </div>
  </div>
</div>
