@let cluster = cluster$ | async;
@let ingress = ingress$ | async;

@defer (when cluster && ingress) {
  <div class="dark:border-primary-darker flex items-center justify-between border-b px-4 py-4 lg:py-6">
    <div class="flex flex-row gap-3">
      <img src="/assets/icons/k8s/logo.svg" alt="k8s logo" height="5" width="30" />
      <a routerLink="../../" class="text-2xl font-bold hover:underline">{{ cluster?.clusterName }}</a>
      <span> - </span>

      <div class="flex gap-1">
        <i class="pi pi-bars mt-2"></i>
        <a class="text-2xl" [routerLink]="['../../']" [queryParams]="{ tab: 'ingresses' }">{{
          'pages.clusters.details.ingress.ingresses' | translate
        }}</a>
      </div>
      <span> - </span>
      <img src="/assets/icons/k8s/resources/labeled/ing.svg" alt="k8s logo" height="8" width="30" />
      <h1 class="text-2xl font-semibold">{{ ingress?.metadata?.name }}</h1>
    </div>

    <div class="grow"></div>

    <a
      (click)="refresh()"
      class="focus:ring-primary dark:focus:ring-offset-dark cursor-pointer rounded-md bg-green-700 px-4 py-2 text-sm text-white hover:bg-green-600
        focus:ring focus:ring-offset-1 focus:ring-offset-white focus:outline-none"
    >
      {{ 'common.refresh' | translate }}
    </a>
  </div>
  <div class="xs:m-1 md:mt-2 md:ml-4">
    <div class="dark:bg-darker flex flex-col rounded-md bg-white p-4">
      <div class="">
        <p-tabs [scrollable]="true">
          <p-tablist>
            <p-tab>
              <div class="flex text-nowrap">
                <i class="pi pi-objects-column mt-1"></i>
                <span class="ml-2">{{ 'pages.clusters.details.ingresses.tabs.details' | translate }}</span>
              </div>
            </p-tab>
            <p-tab>
              <div class="flex text-nowrap">
                <i class="pi pi-list mt-1"></i>
                <span class="ml-2">{{ 'pages.clusters.details.ingress.annotations' | translate }}</span>
              </div>
            </p-tab>
            <p-tab>
              <div class="flex text-nowrap">
                <i class="pi pi-warehouse mt-1"></i>
                <span class="ml-2">{{ 'pages.clusters.details.ingresses.tabs.raw' | translate }}</span>
              </div>
            </p-tab>
            @if (isCertManagerIngress(ingress) && certNames.length > 0) {
              <p-tab>
                <div class="flex text-nowrap">
                  <i class="pi pi-book mt-1"></i>
                  <span class="ml-2">{{ 'pages.clusters.details.ingresses.tabs.certmanager' | translate }}</span>
                </div>
              </p-tab>
            }
          </p-tablist>
          <p-tabpanels>
            <p-tabpanel>
              <div>
                <app-cluster-ingress-details></app-cluster-ingress-details>
                <app-cluster-ingress-chart></app-cluster-ingress-chart>
              </div>
            </p-tabpanel>
            <p-tabpanel>
              <app-cluster-ingress-annotations></app-cluster-ingress-annotations>
            </p-tabpanel>
            <p-tabpanel>
              <app-cluster-ingress-raw></app-cluster-ingress-raw>
            </p-tabpanel>
            @if (isCertManagerIngress(ingress) && certNames.length > 0) {
              <p-tabpanel>
                <app-cluster-ingress-certmanager></app-cluster-ingress-certmanager>
              </p-tabpanel>
            }
          </p-tabpanels>
        </p-tabs>
      </div>
    </div>
  </div>
} @placeholder {
  <div class="m-4">
    <app-spinner></app-spinner>
    {{ 'common.fetching' | translate }}
  </div>
} @loading (after 300ms; minimum 2s) {
  <div class="m-4">
    <app-spinner></app-spinner>
    {{ 'common.fetching' | translate }} and more ...
  </div>
} @error {
  <div class="mx-auto my-4 flex items-center rounded-md bg-red-200 px-6 py-4 text-lg">
    <span class="p-2 text-red-800"> {{ 'pages.apikeys.error' | translate }} </span>
    <button class="btn text-black" (click)="refresh()">{{ 'common.tryAgain' | translate }}</button>
  </div>
}
