<div class="grid space-y-8 lg:gap-8 lg:space-y-0">
  <div class="dark:bg-darker flex items-center justify-between overflow-x-auto rounded-md bg-white p-4">
    <div class="dark:bg-darker col-span-2 overflow-x-auto rounded-md bg-white">
      <div class="dark:border-primary flex border-b p-4">
        <h4 class="dark:text-light text-lg font-semibold text-gray-500">{{ 'pages.virtualmachines.details.operatingSystem.title' | translate }}</h4>
        <svg viewBox="0 0 24 24" class="h-6 w-6 ml-2 stroke-green-700" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M2 6C2 4.34315 3.34315 3 5 3H19C20.6569 3 22 4.34315 22 6V15C22 16.6569 20.6569 18 19 18H13V19H15C15.5523 19 16 19.4477 16 20C16 20.5523 15.5523 21 15 21H9C8.44772 21 8 20.5523 8 20C8 19.4477 8.44772 19 9 19H11V18H5C3.34315 18 2 16.6569 2 15V6ZM5 5C4.44772 5 4 5.44772 4 6V15C4 15.5523 4.44772 16 5 16H19C19.5523 16 20 15.5523 20 15V6C20 5.44772 19.5523 5 19 5H5Z"
              fill="#000000"
              data-darkreader-inline-fill=""
              style="--darkreader-inline-fill: var(--darkreader-background-000000, #000000)"
            ></path>
          </g>
        </svg>
      </div>
      <div class="overflow-x-auto min-h-[240px]">
        <div class="relative mb-3">
          @if (virtualmachine?.virtualmachine?.status.operatingSystem) {
            <table class="w-full border-collapse text-left">
              <tbody>
                <tr class="hover:bg-grey-light">
                  <td class="px-2 py-1">{{ 'pages.virtualmachines.details.operatingSystem.id' | translate }}</td>
                  <td class="px-2 py-1">
                    {{ virtualmachine?.virtualmachine?.status?.operatingSystem?.id }}
                  </td>
                </tr>
                <tr class="hover:bg-grey-light">
                  <td class="px-2 py-1">{{ 'pages.virtualmachines.details.operatingSystem.name' | translate }}</td>
                  <td class="px-2 py-1">
                    {{ virtualmachine?.virtualmachine?.status?.operatingSystem?.name }}
                  </td>
                </tr>
                <tr class="hover:bg-grey-light">
                  <td class="px-2 py-1">{{ 'pages.virtualmachines.details.operatingSystem.version' | translate }}</td>
                  <td class="px-2 py-1">
                    {{ virtualmachine?.virtualmachine?.status?.operatingSystem?.version }}
                  </td>
                </tr>
                <tr class="hover:bg-grey-light">
                  <td class="px-2 py-1">{{ 'pages.virtualmachines.details.operatingSystem.hostname' | translate }}</td>
                  <td class="px-2 py-1">
                    {{ virtualmachine?.virtualmachine?.status?.operatingSystem?.hostName }}
                  </td>
                </tr>
                <tr class="hover:bg-grey-light">
                  <td class="px-2 py-1">{{ 'pages.virtualmachines.details.operatingSystem.toolVersion' | translate }}</td>
                  <td class="px-2 py-1">
                    {{ virtualmachine?.virtualmachine?.status?.operatingSystem?.toolVersion }}
                  </td>
                </tr>
                <tr class="hover:bg-grey-light">
                  <td class="px-2 py-1">{{ 'pages.virtualmachines.details.operatingSystem.architecture' | translate }}</td>
                  <td class="px-2 py-1">
                    {{ virtualmachine?.virtualmachine?.status?.operatingSystem?.architecture }}
                  </td>
                </tr>
                <tr class="hover:bg-grey-light">
                  <td class="px-2 py-1">{{ 'pages.virtualmachines.details.operatingSystem.family' | translate }}</td>
                  <td class="px-2 py-1">
                    <app-os [osFamily]="getOsFamily()"></app-os>
                  </td>
                </tr>
              </tbody>
            </table>
          } @else {
            {{ 'common.empty' | translate }}
          }
        </div>
      </div>
    </div>
  </div>
</div>
