<div class="grid space-y-8 lg:gap-8 lg:space-y-0">
  <div class="dark:bg-darker flex items-center justify-between overflow-x-auto rounded-md bg-white p-4">
    <div class="dark:bg-darker col-span-2 overflow-x-auto rounded-md bg-white">
      <div class="dark:border-primary flex items-center justify-between border-b p-4">
        <h4 class="dark:text-light text-lg font-semibold text-gray-500">{{ 'pages.virtualmachines.details.operatingSystem.title' | translate }}</h4>
      </div>
      <div class="overflow-x-auto">
        <div class="relative mb-3">
          @if (virtualmachine?.virtualmachine?.status.operatingSystem) {
            <table class="w-full border-collapse text-left">
              <tbody>
                <tr class="hover:bg-grey-light">
                  <td class="px-2 py-1">{{ 'pages.virtualmachines.details.operatingSystem.id' | translate }}</td>
                  <td class="px-2 py-1">
                    {{ virtualmachine?.virtualmachine?.status?.operatingSystem?.id }}
                  </td>
                </tr>
                <tr class="hover:bg-grey-light">
                  <td class="px-2 py-1">{{ 'pages.virtualmachines.details.operatingSystem.name' | translate }}</td>
                  <td class="px-2 py-1">
                    {{ virtualmachine?.virtualmachine?.status?.operatingSystem?.name }}
                  </td>
                </tr>
                <tr class="hover:bg-grey-light">
                  <td class="px-2 py-1">{{ 'pages.virtualmachines.details.operatingSystem.version' | translate }}</td>
                  <td class="px-2 py-1">
                    {{ virtualmachine?.virtualmachine?.status?.operatingSystem?.version }}
                  </td>
                </tr>
                <tr class="hover:bg-grey-light">
                  <td class="px-2 py-1">{{ 'pages.virtualmachines.details.operatingSystem.hostname' | translate }}</td>
                  <td class="px-2 py-1">
                    {{ virtualmachine?.virtualmachine?.status?.operatingSystem?.hostName }}
                  </td>
                </tr>
                <tr class="hover:bg-grey-light">
                  <td class="px-2 py-1">{{ 'pages.virtualmachines.details.operatingSystem.toolVersion' | translate }}</td>
                  <td class="px-2 py-1">
                    {{ virtualmachine?.virtualmachine?.status?.operatingSystem?.toolVersion }}
                  </td>
                </tr>
                <tr class="hover:bg-grey-light">
                  <td class="px-2 py-1">{{ 'pages.virtualmachines.details.operatingSystem.architecture' | translate }}</td>
                  <td class="px-2 py-1">
                    {{ virtualmachine?.virtualmachine?.status?.operatingSystem?.architecture }}
                  </td>
                </tr>
                <tr class="hover:bg-grey-light">
                  <td class="px-2 py-1">{{ 'pages.virtualmachines.details.operatingSystem.family' | translate }}</td>
                  <td class="px-2 py-1">
                    <app-os [osFamily]="getOsFamily()"></app-os>
                  </td>
                </tr>
              </tbody>
            </table>
          } @else {
            {{ 'common.empty' | translate }}
          }
        </div>
      </div>
    </div>
  </div>
</div>
