<div class="grid space-y-8 lg:gap-8 lg:space-y-0">
  <div class="dark:bg-darker flex items-center justify-between overflow-x-auto rounded-md bg-white p-4">
    <div class="dark:bg-darker col-span-2 overflow-x-auto rounded-md bg-white">
      <div class="dark:border-primary flex items-center justify-between border-b p-4">
        <h4 class="dark:text-light text-lg font-semibold text-gray-500">{{ 'pages.virtualmachines.details.tools.title' | translate }}</h4>
      </div>
      <div class="overflow-x-auto">
        <div class="relative mb-3">
          @if (this.virtualmachine?.virtualmachine?.status?.operatingSystem?.family?.toLowerCase()?.includes('windows')) {
            <div>
              <div class="bg-black text-white p-2 m-2">mstsc /V:{{ virtualmachine?.virtualmachine?.spec?.name }}</div>
              <button
                (click)="copyMstscCommand()"
                class="focus:ring-primary dark:focus:ring-offset-dark ml-2 rounded-md bg-green-700 px-4 py-2 text-sm text-white hover:bg-green-500 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
              >
                {{ 'common.copy' | translate }}
              </button>
            </div>
          } @else if (this.virtualmachine?.virtualmachine?.status?.operatingSystem?.family?.toLowerCase()?.includes('linux')) {
            <div>
              <div class="bg-black text-white m-2 p-2">$ {{ sshCommand }}</div>

              <button
                (click)="copySSHCommand()"
                class="focus:ring-primary dark:focus:ring-offset-dark ml-2 rounded-md bg-green-700 px-4 py-2 text-sm text-white hover:bg-green-500 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
              >
                {{ 'common.copy' | translate }}
              </button>
            </div>
          } @else {
            <span>{{ 'pages.virtualmachines.details.tools.unknownOs' | translate }}</span>
          }
        </div>
      </div>
    </div>
  </div>
</div>
