<div class="xs:flex-none sm:flex sm:gap-2 md:gap-3">
  <p-select
    [options]="resourceTypes"
    [(ngModel)]="selectedResourceType"
    (onChange)="selectedResourceTypeChange($event)"
    optionLabel="displayName"
    [showClear]="true"
    placeholder="{{ 'pages.resources.filter.resourceType.placeholder' | translate }}"
    emptyMessage="{{ 'common.dropdown.noResult' | translate }}"
    emptyFilterMessage="{{ 'common.dropdown.noResults' | translate }}"
    [filter]="true"
    filterBy="displayName"
  >
    <ng-template pTemplate="selectedItem" let-resourceType>
      <div class="align-items-center gap-2 flex">
        <div>{{ resourceType?.displayName }}</div>
      </div>
    </ng-template>
    <ng-template let-resourceType pTemplate="item">
      <div class="align-items-center gap-2 flex">
        <div>{{ resourceType?.displayName }}</div>
      </div>
    </ng-template>
  </p-select>
  @if (showClusterDropdown && clusterId === undefined) {
    <p-select
      [(ngModel)]="selectedCluster"
      [options]="clusters"
      optionLabel="clusterName"
      [showClear]="true"
      placeholder="{{ 'pages.resources.filter.cluster.placeholder' | translate }}"
      (onChange)="selectedClusterIdChange($event)"
    ></p-select>
  }
  <button (click)="resetFilter()">
    {{ 'common.reset' | translate }}
  </button>
</div>
