<div class="dark:border-primary-darker px-4 py-4 lg:py-6 flex items-center justify-between border-b">
  <h1 class="text-2xl font-semibold">{{ 'pages.datacenters.title' | translate }}</h1>
  <a
    (click)="fetchMetrics()"
    class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:ring-offset-white cursor-pointer focus:ring focus:ring-offset-1 focus:outline-none"
  >
    {{ 'common.refresh' | translate }}
  </a>
</div>

<div class="mt-2">
  <div class="gap-8 p-4 grid">
    <div class="dark:bg-darker rounded-md bg-white p-4 flex items-center justify-between">
      <div class="dark:bg-darker rounded-md bg-white">
        <div class="p-3 relative">
          @if (datacenterMetrics$ | async; as datacenters) {
            <div>
              <app-datacenter-table [datacenters]="datacenters?.items"></app-datacenter-table>
              @if (!datacenters || !datacenters?.items || datacenters?.items?.length === 0) {
                <span>{{ 'pages.datacenters.table.empty' | translate }}</span>
              }
            </div>
          } @else {
            @if (datacenterMetricsError) {
              <div class="my-4 rounded-md bg-red-200 px-6 py-4 text-lg mx-auto flex items-center">
                <span class="p-2 text-red-800"> {{ 'pages.dashboard.error' | translate }} </span>
                <button class="btn text-black" (click)="fetchMetrics()">{{ 'common.tryAgain' | translate }}</button>
              </div>
            } @else {
              <app-spinner></app-spinner>
            }
          }
        </div>
      </div>
    </div>
  </div>
</div>
