<div class="grid space-y-8 lg:gap-8 lg:space-y-0" w-full>
  <div class="dark:bg-darker flex items-center justify-between overflow-x-auto rounded-md bg-white p-4 w-full">
    <div class="dark:bg-darker col-span-2 overflow-x-auto rounded-md bg-white w-full">
      <div class="dark:border-primary flex items-center justify-between border-b p-4">
        <h4 class="dark:text-light text-lg font-semibold text-gray-500">{{ 'pages.virtualmachines.details.disks.title' | translate }}</h4>
      </div>
      <div class="overflow-x-auto w-full">
        <div class="relative mb-3">
          @for (disk of virtualmachine?.virtualmachine?.status?.disks; track disk) {
            <div class="mb-5 first:mt-2">
              <!-- <span class="text-lg font-bold">Name: {{ disk?.spec?.name }}</span> -->
              <table class="w-full border-collapse text-left">
                <tbody>
                  <tr class="hover:bg-grey-light">
                    <td class="px-2 py-1 w-32">{{ 'pages.virtualmachines.details.disks.ismounted' | translate }}</td>
                    <td class="px-2 py-1">
                      <app-true-false [trueOrFalse]="disk?.isMounted"></app-true-false>
                    </td>
                  </tr>
                  <tr class="hover:bg-grey-light">
                    <td class="px-2 py-1">{{ 'pages.virtualmachines.details.disks.mountpath' | translate }}</td>
                    <td class="px-2 py-1">
                      {{ disk?.name }}
                    </td>
                  </tr>
                  @if (disk?.isMounted) {
                    <tr class="hover:bg-grey-light">
                      <td class="px-2 py-1">{{ 'pages.virtualmachines.details.disks.size' | translate }}</td>
                      <td class="px-2 py-1">
                        <p-progressBar [value]="getDiskUsagePercentage(disk) | number: '2.0-2'" [color]="getColorForDiskUsage(disk)"></p-progressBar>
                      </td>
                    </tr>
                  }
                  <tr class="hover:bg-grey-light">
                    <td class="px-2 py-1">{{ 'pages.virtualmachines.details.disks.type' | translate }}</td>
                    <td class="px-2 py-1">
                      {{ disk?.type }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
