<div>
  @if (apps$ | async) {}
</div>
<div class="w-full">
  <input
    type="text"
    class="w-full p-2 border-2 border-gray-300 dark:border-gray-500 rounded-lg shadow-lg text-2xl"
    placeholder="Filter apps"
    #filter
    (input)="filterApps(filter?.value)"
  />
</div>
<div class="grid sm:grid-cols-none md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-4 mt-4 w-full">
  @for (app of filteredApps; let first = $first, last = $last, even = $even, odd = $odd; track app.id) {
    <div
      class="shadow-2xl dark:shadow-lg dark:shadow-gray-700 bg-gray-100 border-2 border-gray-300 dark:border-gray-500 dark:bg-gray-800 rounded-lg p-3 flex flex-col"
    >
      <div class="mb-3 text-2xl font-bold flex-none">
        <a [routerLink]="[app?.id, 'install']">{{ app?.name }}</a>
      </div>
      <div class="flex flex-col gap-4 flex-grow">
        <div>
          <div class="flex gap-4 h-[200px]">
            <img [src]="app?.iconUrl" alt="App icon" class="bg-white h-16 w-16" />
            <p class="text-lg text-wrap truncate">{{ app?.description }}</p>
          </div>
        </div>
      </div>
      <div>
        <div class="flex flex-col gap-2 mt-3">
          <div>
            {{ 'pages.appmarket.currentVersion' | translate }}:
            <p-badge severity="success" [value]="app?.currentVersion"></p-badge>
          </div>
          <div>
            {{ 'pages.appmarket.supportedVersions' | translate }}:
            <div class="flex">
              @for (version of app?.versions; track version) {
                <p-badge severity="info" class="mr-2" [value]="version"></p-badge>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="flex-none mt-2">
        <div class="flex gap-4 justify-start">
          <a href="{{ app.docUrl }}" target="_blank" class="text-primary underline">
            <span>{{ 'pages.appmarket.documentation' | translate }}</span>
          </a>
        </div>
      </div>
      <div class="flex-none">
        <div class="flex gap-4 justify-end">
          <span> {{ app?.price }} NOK </span>
        </div>
      </div>
      <div class="flex-none">
        <div class="flex justify-end">
          @if (app?.name?.toLowerCase().includes('postgresql')) {
            <a [routerLink]="['./', app.id, 'configure']" class="bg-primary text-white p-2 ml-2 rounded-lg">
              <span>{{ 'pages.appmarket.actions.config' | translate }}</span>
            </a>
            <a (click)="deleteApp(app?.id)" class="bg-red-800 text-white p-2 ml-2 rounded-lg">
              <span>{{ 'pages.appmarket.actions.uninstall' | translate }}</span>
            </a>
          } @else {
            <a [routerLink]="['./', app.id, 'install']" class="bg-primary text-white p-2 rounded-lg ml-2">
              <span>{{ 'pages.appmarket.actions.install' | translate }}</span>
            </a>
          }
        </div>
      </div>
    </div>
  }
  @if (filteredApps.length === 0) {
    <div class="text-2xl font-bold text-center w-full">
      {{ 'pages.appmarket.noApps' | translate }}
    </div>
  }
</div>
<p-toast></p-toast>
<p-confirmDialog
  [style]="{ width: '25vw' }"
  [baseZIndex]="10000"
  acceptButtonStyleClass="ml-2 px-4 py-2 text-sm text-white rounded-md bg-red-700 hover:bg-red-500 focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark"
  rejectButtonStyleClass="ml-2 px-4 py-2 text-sm text-white rounded-md bg-green-700 hover:bg-green-500 focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark"
  acceptLabel="{{ 'common.yes' | translate }}"
  rejectLabel="{{ 'common.no' | translate }}"
></p-confirmDialog>
