@if (resourceSet$ | async) {
  <div></div>
}
<div>
  <p-table
    [columns]="selectedColumns"
    [value]="resources"
    responsiveLayout="scroll"
    #resourcesTable
    [rowHover]="true"
    [paginator]="false"
    [loading]="loading"
    loadingIcon="pi pi-spinner"
    [rows]="rows"
    [scrollable]="true"
    [lazy]="true"
    scrollHeight="flex"
    dataKey="metadata.uid"
    (onLazyLoad)="loadLazy($event)"
    [showCurrentPageReport]="false"
    sortMode="multiple"
    [multiSortMeta]="[{ field: 'metadata.name', order: 1 }]"
    currentPageReportTemplate="{{ 'common.showing' | translate }} {first} {{ 'common.to' | translate | lowercase }} {last} {{
      'common.of' | translate | lowercase
    }} {totalRecords} {{ 'common.entries' | translate | lowercase }}"
  >
    <ng-template #caption>
      <div class="mb-2">
        <ng-content select="[filter]"></ng-content>
        <div class="xs:flex-none sm:flex sm:justify-between">
          <p-multiSelect
            [options]="columnDefinitions"
            [(ngModel)]="selectedColumns"
            [showToggleAll]="true"
            optionLabel="header"
            selectedItemsLabel="{0} {{ 'common.table.columnsSelected' | translate }}"
            [style]="{ 'min-width': '200px' }"
            placeholder="{{ 'common.table.chooseColumns' | translate }}"
            emptyMessage="{{ 'common.table.noColumns' | translate }}"
            emptyFilterMessage="{{ 'common.table.noColumnsFilter' | translate }}"
          ></p-multiSelect>

          <div class="flex-grow"></div>

          <div class="">
            <p-select [options]="rowsPerPage" [(ngModel)]="rows" (onChange)="selectedRowsChange($event)">
              <ng-template let-row pTemplate="item">
                <div class="align-items-center flex gap-2">
                  <div>{{ row }}</div>
                </div>
              </ng-template>
            </p-select>
          </div>
          <app-export-button class="mt-1 md:justify-self-end" [exportObjects]="export()" [filename]="exportFilename"></app-export-button>
        </div>
      </div>
    </ng-template>
    <ng-template #header let-columns>
      <tr>
        @for (col of columns; track col) {
          <th [pSortableColumn]="col?.field" class="">
            <div class="flex-cols flex">
              <span class="">{{ col?.header }}</span>
              <p-sortIcon [field]="col?.field" pTooltip="{{ 'pages.resourcesv2.list.header.tooltip' | translate }}"></p-sortIcon>
            </div>
          </th>
        }
      </tr>
      <tr>
        @for (col of columns; track col) {
          <th class="p-1">
            @switch (col.type) {
              @case ('text') {
                <p-columnFilter
                  [type]="col.type"
                  [field]="col.field"
                  matchMode="contains"
                  [showMenu]="true"
                  [matchModeOptions]="matchModeOptionsString"
                >
                </p-columnFilter>
              }
              @case ('numeric') {
                <p-columnFilter
                  [type]="col.type"
                  [field]="col.field"
                  matchMode="contains"
                  [showMenu]="true"
                  [matchModeOptions]="matchModeOptionsInt"
                ></p-columnFilter>
              }
              @case ('boolean') {
                <p-columnFilter
                  [type]="col.type"
                  [field]="col.field"
                  matchMode="contains"
                  [showMenu]="true"
                  [matchModeOptions]="matchModeOptionsBool"
                ></p-columnFilter>
              }
              @default {
                <p-columnFilter
                  [type]="col.type"
                  [field]="col.field"
                  matchMode="contains"
                  [showMenu]="true"
                  [matchModeOptions]="matchModeOptionsBool"
                ></p-columnFilter>
              }
            }
          </th>
        }
      </tr>
    </ng-template>
    <ng-template #body let-resource let-columns="columns">
      <tr class="h-10">
        @for (col of columns; track col) {
          <td class="h-10">
            @if (col?.header === 'Name' && (adminCreate$ | async) == true) {
              <span class="cursor-pointer hover:underline" (click)="setSelectedResource(resource)">{{ extractData(resource, col.field) }}</span>
            } @else {
              <ng-container>{{ extractData(resource, col.field) }}</ng-container>
            }
          </td>
        }
        @if (resource) {
          <td class="h-10 w-40">
            <a
              class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:ring focus:ring-offset-1 focus:ring-offset-white focus:outline-none"
              (click)="setSelectedResource(resource)"
            >
              {{ 'common.details' | translate }}
            </a>
          </td>
        }
      </tr>
    </ng-template>
    <ng-template #loadingbody let-columns="columns">
      <tr style="height: 46px">
        @for (col of columns; track col; let even = $even) {
          <td>
            <p-skeleton [ngStyle]="{ width: even ? (col.field === 'year' ? '30%' : '40%') : '60%' }" />
          </td>
        }
      </tr>
    </ng-template>
    <ng-template #emptymessage>
      @if (!loading) {
        <tr>
          <td colspan="7">
            @if (!loading) {
              {{ 'common.emptyList' | translate }}
            }
            @if (loading) {
              <app-spinner></app-spinner>
            }
          </td>
        </tr>
      }
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex text-center">
        <span class="text-pretty">{{ 'pages.resourcesv2.list.fetchCount' | translate: { count: resources?.length } }}</span>
      </div>

      <div class="text-center">
        @if (showLoadMore) {
          <button
            (click)="loadMore()"
            class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:ring focus:ring-offset-1 focus:ring-offset-white focus:outline-none"
          >
            {{ 'common.loadMore' | translate }}
          </button>
        }
      </div>
    </ng-template>
  </p-table>
</div>
