<div class="dark:border-primary-darker gap-4 px-4 py-4 lg:py-6 flex items-center border-b">
  <h1 class="text-2xl font-semibold flex-grow">{{ 'pages.metrics.title' | translate }}</h1>

  <a
    (click)="fetchCustomMetrics()"
    class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:ring-offset-white cursor-pointer focus:ring focus:ring-offset-1 focus:outline-none"
  >
    {{ 'common.refresh' | translate }}
  </a>
</div>

<div class="mt-2">
  <div class="mt-2 p-2">
    <div class="gap-4 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 2xl:grid-cols-2 grid">
      <div class="dark:bg-darker rounded-md bg-white p-2 items-center justify-between">
        <div class="dark:bg-darker rounded-md bg-white">
          <div class="dark:border-primary p-4 flex items-center justify-between border-b">
            <h4 class="dark:text-light text-lg font-semibold text-gray-500 flex-grow">{{ 'pages.metrics.kubernetesVersions' | translate }}</h4>
            <button
              type="button"
              (click)="showDialog(dialogK8sVersions)"
              icon="pi pi-info-circle"
              class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:ring-offset-white focus:ring focus:ring-offset-1 focus:outline-none"
            >
              {{ 'common.fullscreen' | translate }}
            </button>
          </div>
          <div class="p-3 relative">
            <p-chart type="bar" [data]="chartDataK8sVersions" [options]="chartOptions"></p-chart>
          </div>
        </div>
      </div>

      <div class="dark:bg-darker rounded-md bg-white p-2 items-center justify-between">
        <div class="dark:bg-darker rounded-md bg-white">
          <div class="dark:border-primary p-4 flex items-center justify-between border-b">
            <h4 class="dark:text-light text-lg font-semibold text-gray-500 flex-grow">{{ 'pages.metrics.nhnTooling' | translate }}</h4>
            <button
              type="button"
              (click)="showDialog(dialogNHNTooling)"
              icon="pi pi-info-circle"
              class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:ring-offset-white focus:ring focus:ring-offset-1 focus:outline-none"
            >
              {{ 'common.fullscreen' | translate }}
            </button>
          </div>
          <div class="p-3 relative">
            <p-chart type="bar" [data]="chartDataNHNTooling" [options]="chartOptions"></p-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog #dialogNHNTooling [(visible)]="display" [maximizable]="true">
  <p-chart type="bar" [data]="chartDataNHNTooling" [options]="chartOptions"> </p-chart>
</p-dialog>

<p-dialog #dialogK8sVersions [(visible)]="display" [maximizable]="true">
  <p-chart type="bar" [data]="chartDataK8sVersions" [options]="chartOptions"> </p-chart>
</p-dialog>
