<div class="grid space-y-8 lg:gap-8 lg:space-y-0">
  <div class="dark:bg-darker m-3 flex items-center justify-between overflow-x-auto rounded-md bg-white">
    <div class="dark:bg-darker col-span-2 w-full overflow-x-auto rounded-md bg-white">
      <div class="dark:border-primary flex items-center justify-between border-b p-4">
        <h4 class="dark:text-light text-lg font-semibold text-gray-500">{{ 'pages.clusters.details.nodePools.title' | translate }}</h4>
      </div>
      <div class="p-4">
        <div class="">
          <div class="overflow-x-auto">
            <app-cluster-nodepool-list [cluster]="cluster" [nodepools]="getCluster()?.topology?.nodePools"></app-cluster-nodepool-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
