<div class="flex flex-col">
  <div class="dark:bg-darker rounded-md bg-white p-3 flex items-center justify-between overflow-x-auto">
    @if (editable && adminOwner$ | async) {
      <a
        (click)="editNodepool()"
        class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-green-700 px-4 py-2 text-sm text-white ease-in-out hover:-translate-y-1 focus:ring-offset-white float-left transition delay-50 duration-300 hover:scale-110 focus:ring focus:ring-offset-1 focus:outline-none"
      >
        <span>{{ 'pages.clusters.details.nodePools.create' | translate }}</span>
      </a>
    }
  </div>
  <p-table
    [value]="nodepools"
    [rows]="rows"
    [paginator]="false"
    [rowsPerPageOptions]="rowsPerPage"
    [rowHover]="true"
    responsiveLayout="stack"
    [totalRecords]="0"
    [reorderableColumns]="true"
    dataKey="name"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{{ 'common.showing' | translate }} {first} {{ 'common.to' | translate | lowercase }} {last} {{
      'common.of' | translate | lowercase
    }} {totalRecords} {{ 'common.entries' | translate | lowercase }}"
  >
    <ng-template #header>
      <tr>
        <th class="w-4"></th>
        <th pSortableColumn="name" class="p-1">
          {{ 'pages.clusters.details.nodePools.table.column.name' | translate }} <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="machineClass" class="p-1">
          {{ 'pages.clusters.details.nodePools.machineClass' | translate }} <p-sortIcon field="machineClass"></p-sortIcon>
        </th>
        <th pSortableColumn="metrics.nodeCount" class="p-1">
          {{ 'pages.clusters.details.nodePools.table.column.autoscaling' | translate }} <p-sortIcon field="autoscaling.enabled"></p-sortIcon>
        </th>
        <th pSortableColumn="metrics.cpu" class="p-1">
          {{ 'pages.clusters.details.nodePools.table.column.replicas' | translate }} <p-sortIcon field="replicas"></p-sortIcon>
        </th>
        <th pSortableColumn="metrics.nodeCount" class="p-1">
          {{ 'pages.clusters.details.nodePools.table.column.nodeCount' | translate }} <p-sortIcon field="metrics.nodeCount"></p-sortIcon>
        </th>
        <th pSortableColumn="metrics.cpu" class="p-1">
          {{ 'pages.clusters.details.nodePools.table.column.cores' | translate }} <p-sortIcon field="metrics.cpu"></p-sortIcon>
        </th>
        <th pSortableColumn="metrics.memory" class="p-1">
          {{ 'pages.clusters.details.nodePools.table.column.mem' | translate }} <p-sortIcon field="metrics.memory"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <!-- let-expanded="expanded" -->
    <ng-template #body let-nodepool let-rowIndex="rowIndex">
      <tr>
        <td>
          <button type="button" pButton pRipple [pRowToggler]="nodepool" class="p-button-text p-button-rounded p-button-plain"></button>
          <!-- [icon]="expanded ? 'pi pi-folder-open' : 'pi pi-folder'"-->
        </td>
        <td>{{ nodepool?.name | titlecase }}</td>
        <td>{{ nodepool?.machineClass }}</td>
        <td><app-true-false [trueOrFalse]="nodepool?.autoscaling?.enabled"></app-true-false></td>
        <td>
          @switch (nodepool?.autoscaling?.enabled) {
            @case (true) {
              <span>{{ nodepool?.autoscaling?.minReplicas }} - {{ nodepool?.autoscaling?.maxReplicas }}</span>
            }
            @case (false) {
              <span>{{ nodepool?.replicas }}</span>
            }
          }
        </td>
        <td>{{ nodepool?.metrics?.nodeCount }}</td>
        <td>{{ nodepool?.metrics?.cpu }}</td>
        <td>{{ nodepool?.metrics?.memory | formatBytes: 2 : true }}</td>
        <td>
          @if (adminOwner$ | async) {
            <div class="gap-3 flex">
              @if (editable) {
                <button
                  (click)="editNodepool(nodepool)"
                  class="focus:ring-primary dark:focus:ring-offset-dark ml-2 rounded-md bg-green-700 px-4 py-2 text-sm text-white hover:bg-green-500 focus:ring-offset-white focus:ring focus:ring-offset-1 focus:outline-none"
                >
                  {{ 'common.edit' | translate }}
                </button>

                <button
                  (click)="deleteNodepool(nodepool)"
                  [disabled]="nodepools.length === 1"
                  class="focus:ring-primary dark:focus:ring-offset-dark ml-2 rounded-md bg-red-700 px-4 py-2 text-sm text-white hover:bg-red-500 focus:ring-offset-white disabled:bg-slate-700 disabled:text-gray-100 focus:ring focus:ring-offset-1 focus:outline-none"
                >
                  {{ 'common.delete' | translate }}
                </button>
              }
            </div>
          }
        </td>
      </tr>
    </ng-template>
    <!-- <ng-template #expandedrow let-nodepool let-rowIndex="rowIndex">
      <tr>
        <td colspan="6">
          <div class="">
            <div class="my-auto ml-3 mr-0">
              <app-cluster-node-list [nodes]=""></app-cluster-node-list>
            </div>
          </div>
        </td>
      </tr>
    </ng-template> -->
    <ng-template emptymessage>
      <tr>
        <td colspan="6">{{ 'common.emptyList' | translate }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
