<div class="dark:bg-darker flex flex-col rounded-md bg-white">
  <div class="flex items-center justify-between p-4">
    <div>
      <h6 class="dark:text-primary-lighter text-xs font-medium uppercase leading-none tracking-wider text-gray-500">
        {{ 'pages.clusters.details.metrics.priceMonth' | translate }}
      </h6>
      <span class="text-xl font-semibold">{{ getPricePerMonth() || 0 | currency: 'NOK' : 'symbol' : '.0' : 'no' }}</span>
      <span class="ml-2 inline-block rounded-md bg-green-100 px-2 py-px text-xs text-green-900">
        {{ getPricePerYear() || 0 | currency: 'NOK' : 'symbol' : '.0' : 'no' }}
        <span>{{ 'pages.clusters.details.metrics.priceYear' | translate }}</span></span
      >
    </div>
    <div>
      <span>
        <svg
          class="h-12 w-12 fill-green-700"
          viewBox="0 0 32 32"
          xmlns="http://www.w3.org/2000/svg"
          data-darkreader-inline-fill=""
          style="--darkreader-inline-fill: var(--darkreader-background-000000, #000000)"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M31,7H1A1,1,0,0,0,0,8V24a1,1,0,0,0,1,1H31a1,1,0,0,0,1-1V8A1,1,0,0,0,31,7ZM25.09,23H6.91A6,6,0,0,0,2,18.09V13.91A6,6,0,0,0,6.91,9H25.09A6,6,0,0,0,30,13.91v4.18A6,6,0,0,0,25.09,23ZM30,11.86A4,4,0,0,1,27.14,9H30ZM4.86,9A4,4,0,0,1,2,11.86V9ZM2,20.14A4,4,0,0,1,4.86,23H2ZM27.14,23A4,4,0,0,1,30,20.14V23Z"
            ></path>
            <path d="M7.51.71a1,1,0,0,0-.76-.1,1,1,0,0,0-.61.46l-2,3.43a1,1,0,0,0,1.74,1L7.38,2.94l5.07,2.93a1,1,0,0,0,1-1.74Z"></path>
            <path
              d="M24.49,31.29a1,1,0,0,0,.5.14.78.78,0,0,0,.26,0,1,1,0,0,0,.61-.46l2-3.43a1,1,0,1,0-1.74-1l-1.48,2.56-5.07-2.93a1,1,0,0,0-1,1.74Z"
            ></path>
            <path d="M16,10a6,6,0,1,0,6,6A6,6,0,0,0,16,10Zm0,10a4,4,0,1,1,4-4A4,4,0,0,1,16,20Z"></path>
          </g>
        </svg>
      </span>
    </div>
  </div>
  <span class="mb-2 ml-2 text-xs text-green-600">{{ 'common.priceEst' | translate }}</span>
</div>
