<div>
  <span>{{ 'pages.appmarket.filter.title' | translate }}</span>
  <div class="flex gap-3">
    <input type="radio" name="fav_language" value="asc" #asc (input)="sortingSelected(asc.value)" [(ngModel)]="selectedSorting" /><label for="html">{{
      'pages.appmarket.filter.asc' | translate
    }}</label>
  </div>
  <div class="flex gap-3">
    <input type="radio" name="fav_language" value="desc" #desc (input)="sortingSelected(desc.value)" [(ngModel)]="selectedSorting" /><label
      for="css"
      >{{ 'pages.appmarket.filter.desc' | translate }}</label
    >
  </div>
</div>
<div class="mt-3">
  <span>{{ 'pages.appmarket.filter.categories' | translate }}</span>
  <div *ngFor="let category of categories" class="flex items-center">
    <p-checkbox
      name="group"
      [value]="category"
      [(ngModel)]="selectedCategories"
      (onChange)="categoriesChanged($event)"
      class="border-2 border-gray-600 rounded-lg m-2"
    />
    <label class="ml-2"> {{ category | titlecase }} </label>
  </div>
</div>
<div class="mt-4">
  <button class="border-2 border-gray-600 text-gray-600 p-2 ml-2 rounded-lg" (click)="clearFilters()">
    <span>{{ 'pages.appmarket.filter.clear' | translate }}</span>
  </button>
</div>
