<div class="dark:border-primary-darker flex items-center gap-4 border-b px-4 py-4 lg:py-6">
  <h1 class="grow text-2xl font-semibold">{{ 'pages.resourcesv2.title' | translate }}</h1>
</div>

<div class="m-4">
  <div class="dark:bg-darker items-center justify-between rounded-md bg-white p-2">
    <div class="dark:bg-darker rounded-md bg-white">
      <div class="dark:border-primary flex items-center justify-between border-b p-3">
        <app-resourcesv2-filter
          class="grow"
          [clusters]="(clusters$ | async)?.data"
          [resourceTypes]="resourceTypes"
          (filterChange)="resourcesTable.filterChanged($event)"
          (reset)="resourcesTable.reset()"
        ></app-resourcesv2-filter>
        <a
          (click)="resourcesTable.refreshData()"
          class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark ml-2 cursor-pointer rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:ring focus:ring-offset-1 focus:ring-offset-white focus:outline-none"
        >
          {{ 'common.refresh' | translate }}
        </a>
      </div>
      <div class="flex flex-col p-3">
        <app-resources-v2-list #resourcesTable (resourceSelected)="showSelectedResource($event)"></app-resources-v2-list>
      </div>
    </div>
  </div>
</div>

<p-drawer [(visible)]="sidebarVisible" position="right" styleClass="sm:w-full md:w-1/2">
  @if (selectedResource) {
    <app-resource-v2-details [resource]="selectedResource"></app-resource-v2-details>
  }
</p-drawer>
