<div class="dark:bg-darker flex flex-col rounded-md bg-white">
  <div class="dark:border-primary flex items-center justify-between border-b p-3">
    <app-resourcesv2-filter
      class="grow"
      [clusters]="[cluster]"
      [resourceTypes]="resourceTypes"
      (filterChange)="resourcesTable.filterChanged($event)"
      (reset)="resourcesTable.reset()"
    ></app-resourcesv2-filter>
    <a
      (click)="resourcesTable.refreshData()"
      class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark ml-2 cursor-pointer rounded-md bg-green-700 px-4 py-2 text-sm
        text-white focus:ring focus:ring-offset-1 focus:ring-offset-white focus:outline-none"
    >
      {{ 'common.refresh' | translate }}
    </a>
  </div>
  <div class="flex flex-col p-3">
    <app-resources-v2-list [clusterId]="cluster?.clusterId" #resourcesTable (resourceSelected)="showSelectedResource($event)"></app-resources-v2-list>
  </div>
</div>
