<div class="dark:bg-darker rounded-md bg-white flex flex-col">
  <div class="dark:border-primary p-3 flex items-center justify-between border-b">
    <app-resourcesv2-filter
      class="flex-grow"
      [clusters]="[cluster]"
      [resourceTypes]="resourceTypes"
      (filterChange)="resourcesTable.filterChanged($event)"
      (reset)="resourcesTable.reset()"
    ></app-resourcesv2-filter>
    <a
      (click)="resourcesTable.refreshData()"
      class="hover:bg-primary-dark focus:ring-primary dark:focus:ring-offset-dark ml-2 rounded-md bg-green-700 px-4 py-2 text-sm text-white focus:ring-offset-white cursor-pointer focus:ring focus:ring-offset-1 focus:outline-none"
    >
      {{ 'common.refresh' | translate }}
    </a>
  </div>
  <div class="p-3 flex flex-col">
    <app-resources-v2-list [clusterId]="cluster?.clusterId" #resourcesTable (resourceSelected)="showSelectedResource($event)"></app-resources-v2-list>
  </div>
</div>
