<div class="grid space-y-8 lg:gap-8 lg:space-y-0">
  <div class="dark:bg-darker flex items-center justify-between overflow-x-auto rounded-md bg-white p-4">
    <div class="dark:bg-darker col-span-2 overflow-x-auto rounded-md bg-white w-full">
      <div class="dark:border-primary flex items-center justify-between border-b p-4">
        <h4 class="dark:text-light text-lg font-semibold text-gray-500">{{ 'pages.virtualmachines.details.status.title' | translate }}</h4>
      </div>
      <div class="mb-3 mt-3">
        <app-power class="h-20 w-20 block" [powerState]="powerstates.On"></app-power>
      </div>
      <div class="overflow-x-auto">
        <div class="relative mb-3 mt-3 flex gap-2">
          @if (virtualmachine?.virtualmachine?.status?.operatingSystem?.powerState === 'poweredOn') {
            <a
              class="delay-50 hover:bg-red-600 focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-red-700 px-4 py-2 text-sm text-white transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
            >
              <span>Turn off</span>
            </a>
          } @else {
            <a
              class="delay-50 hover:bg-yellow-600 focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-yellow-700 px-4 py-2 text-sm text-white transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
            >
              <span>Turn on</span>
            </a>
          }
          <a
            class="delay-50 hover:bg-yellow-600 focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-yellow-700 px-4 py-2 text-sm text-white transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
          >
            <span>Restart</span>
          </a>
          <a
            class="delay-50 hover:bg-blue-600 focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-blue-700 px-4 py-2 text-sm text-white transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
          >
            <span>Suspend</span>
          </a>
          <a
            class="delay-50 hover:bg-red-600 focus:ring-primary dark:focus:ring-offset-dark rounded-md bg-red-700 px-4 py-2 text-sm text-white transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-offset-white"
          >
            <span>Delete</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
