<div class="grid space-y-8 lg:gap-8 lg:space-y-0">
  <div class="dark:bg-darker flex items-center justify-between overflow-x-auto rounded-md bg-white p-4">
    <div class="dark:bg-darker col-span-2 overflow-x-auto rounded-md bg-white">
      <div class="dark:border-primary flex items-center justify-between border-b p-4">
        <h4 class="dark:text-light text-lg font-semibold text-gray-500">{{ 'pages.virtualmachines.details.detail.title' | translate }}</h4>
      </div>
      <div class="overflow-x-auto">
        <div class="relative mb-3">
          <app-virtualmachine-network [virtualmachine]="virtualmachine"></app-virtualmachine-network>
        </div>
      </div>
    </div>
  </div>
</div>
