<div [formGroup]="formGroup">
  @if (override) {
    <input
      class="m-3 w-full border bg-gray-800 p-5 dark:bg-black dark:text-gray-300"
      type="text"
      [formControlName]="controlName"
      placeholder="{{ placeholder }}"
    />
  }
  @if (!override) {
    <p-select
      [showClear]="showClear"
      [group]="groupSupport"
      [optionLabel]="optionLabel"
      [optionValue]="optionValue"
      [options]="options"
      [emptyMessage]="emptyListMessage"
      placeholder="{{ placeholder }}"
      [filterBy]="filterBy"
      [formControlName]="controlName"
    >
      <ng-content></ng-content>
    </p-select>
  }

  @if (couldOverride) {
    <div class="align-items-center mt-2 flex gap-1">
      <p-checkbox
        class=""
        [(ngModel)]="override"
        [binary]="true"
        [ngModelOptions]="{ standalone: true }"
        inputId="override-checkbox"
        (onChange)="onOverride()"
      ></p-checkbox>
      <label for="override-checkbox">{{ 'common.typeInstead' | translate }}</label>
    </div>
  }
</div>
