name: Test and build ROR Webapp

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'
          cache: 'npm'
      - name: Run npm ci
        run: npm ci
        env:
          npm_config_fetch_retries: 5
          npm_config_fetch_retry_mintimeout: 15000
          npm_config_fetch_retry_maxtimeout: 120000
      - run: npm run checkformat
      - run: npm run build:prod
